.Header {
  display: flex;
  justify-content: space-between;
}

.HomeButton {
  color: #fff;
  text-decoration: none;
}

.search {
  position: relative;
  width: 10%;
  border: 0.5px solid #fff;
  border-radius: 100px;
  overflow: hidden;
}
.searchIcon {
  position: absolute;
  top: 5px;
}
.input {
  color: #fff;
  background-color: rgb(183, 188, 236);
}
